body {
    background: #E6F8E0;
    color: black;
}

header {
    padding: 10px 0px;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #2efe2e;
    color: white;
    font-weight: bold;
}

nav {
    display: flex;
    margin: 5px;
    padding: 10px 5px;
}

nav div {
    font-size: 1.5em;
    line-height: 30px;
    margin: 0px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu {
    color: #2efe2e;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 1em; 
    line-height: 30px;
    margin: 5px 5px; 
    padding: 10px;
    text-align: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2efe2e;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sec1 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    text-align: center;
}

#sec2 {
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

section div {
    margin: 20px 0px;
}
