body {
    display: grid;
    grid-template-rows: 3fr 1fr;
    background: #FFEE58;
}

article {
    display: block;
    margin: 100px 0px;
    padding: 100px 0px;
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight: bold;
    grid-template-rows: 3fr;

} 

footer {
    padding: 30px 0px;
    margin: 30px 0px;
    grid-template-rows: 1fr;
    font-size: 20px;
    text-align: center;
    color: white;
}

div {
    color: #000;
    font-size: 1em;
    font-weight: bold;
}