body {
    background: yellow;
}

div {
    padding: 100px 0px;
    margin: 200px 200px;
    font-size: 1000 px;
    text-align: center;
    color: white;
    font-weight: bold;
} 

nav div {
    padding: 10px 0px;
    font-size: 3 em;
    text-align: center;
    color: black;
    font-weight: bold;
}