body {
    background: #FFEBEE;
    color: black;
}

header {
    padding: 300px 0px 25PX 35PX;
    font-size: 60px;
    text-align: left;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://images.pond5.com/worship-background-luminance-purple-pink-footage-026056350_prevstill.jpeg);
    background-repeat: no-repeat;
    
}

nav {
    display: flex;
    margin: 5px;
    padding: 10px 5px;
}

.menu {
    color: #EC407A;
}

nav div {
    font-size: 1.5em;
    line-height: 30px;
    margin: 0px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 1em; 
    line-height: 30px;
    margin: 5px 5px; 
    padding: 10px;
    text-align: center; 
    background-color: #EC407A;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

article div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "sun    mon"
        "tue    wed"
        "thr    fri"
        "sat    start";
    font-size: 1.5em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "canvas div";
}

section {
    padding: 35px 0px 0px 0px;
    margin: 5px;
    border-radius: 10px;
}

#sun {
    background: red;
}

#mon {
    background: yellow;
}

#tue {
    background: pink;
}

#wed {
    background: green;
}

#thr {
    background: orange;
}

#fri {
    background: blue;
}

#sat {
    background: purple;
}

#start {
    background: #EC407A;
}