body {
    background: #FFEBEE;
    color: black;
}

header {
    padding: 300px 0px 10PX 10PX;
    font-size: 50px;
    text-align: left;
    color: white;
    font-weight: bold;
    background: #F08080;
}

.BgHead {
    background-image: url(/Surasit59030229-1/image/bg1.jpg);
}


nav {
    display: flex;
    color: #F08080;
    margin: 5px;
    padding: 10px 5px;
}

nav div {
    font-size: 1.5em;
    line-height: 30px;
    margin: 0px 10px;
}

a {
    color: #F08080;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 1em; 
    line-height: 30px;
    margin: 5px 5px; 
    padding: 10px;
    text-align: center; 
    background-color: #F08080;
    color: white;
}